body {
    font-family: 'Dancing Script', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Orbitron', sans-serif;
    margin: 0;
}

h1 {
    font-size: 60px;
}

.red {
    color: red;
}

.flexible-container {
    display: flex;
    margin-bottom: 5%;
}

.half-width {
    width: 50%;
    padding-left: 10%;
    padding-top: 5%;
}

.half-width img {
    width: 80%;
}

.course-button {
    text-decoration: none;
    background-image: linear-gradient(black, red);
    font-size: 20px;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
}

.second-page-half-width {
    width: 50%;
    padding-right: 10%;
    padding-top: 5%;
}

.second-page-half-width img {
    width: 80%;
    margin-left: 10%;
}

.top-banner {
    background-image: url(images/top-banner.jpg);
    background-repeat: no-repeat;
}

h2 {
    font-size: 50px;
}

.mid-banner {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.shadow {
    box-shadow: 10px 10px 30px 15px rgba(186, 3, 3, 0.684);
    width: 40%;
    margin-left: 3%;
    margin-right: 5%;
    padding-left: 30px;
    border-radius: 20px;
    padding-bottom: 6%;
}

.last-banner {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-top: 10%;
}

#presidency {
    border-left: 10px solid;
    border-image: linear-gradient(rgb(0, 0, 0), red);
    border-image-slice: 1;
}

#elizabeth {
    border-left: 10px solid;
    border-image: linear-gradient(rgb(136, 4, 4), rgb(0, 0, 0));
    border-image-slice: 1;
}

footer p {
    text-align: center;
    margin-top: 20%;
}